<button cdkOverlayOrigin
        #yolotrigger="cdkOverlayOrigin"
        (click)="toggleTakeover()">Open takeover
</button>


<app-takeover [trigger]="yolotrigger" [isOpen]="isOpen">
  <ng-container section="header">
    <button>back</button>
    <h2>Header</h2>
    <button (click)="toggleTakeover()">close</button>
  </ng-container>

  <ng-container section="body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci amet animi, beatae consectetur
    dignissimos esse et exercitationem explicabo fuga id incidunt molestiae molestias numquam quae repellat rerum
    sequi unde?
  </ng-container>

  <ng-container section="footer">
    <button (click)="toggleTakeover()">Apply</button>
  </ng-container>
</app-takeover>

